<a href="https://colab.research.google.com/github/MohitBhatt7/Python-3./blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Core Data Structure.

In [ ]:
import pandas as pd
df = pd.Series(["Name", "Alice", "Mark", "Terrence", "Sabin"], index=["S.N", 1, 2, 3, 4])
print(df)

S.N        Name
1         Alice
2          Mark
3      Terrence
4         Sabin
dtype: object

In [ ]:
Data = {
    "Name": ["Mark", "Terrence", "Alice"],
    "Age": [10, 12, 13]

}

DF = pd.DataFrame(Data)
print(DF)

       Name  Age
0      Mark   10
1  Terrence   12
2     Alice   13

In [ ]:
import pandas as pd
DF = pd.read_csv("/content/abc.csv")
print(DF)

  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23

# COVID-19 DATASET.

In [ ]:
import pandas as pd
Dataframe = pd.read_csv("/content/country_wise_latest.csv")
print(Dataframe)

         Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
0           Afghanistan      36263    1269      25198    9796        106
1               Albania       4880     144       2745    1991        117
2               Algeria      27973    1163      18837    7973        616
3               Andorra        907      52        803      52         10
4                Angola        950      41        242     667         18
..                  ...        ...     ...        ...     ...        ...
182  West Bank and Gaza      10621      78       3752    6791        152
183      Western Sahara         10       1          8       1          0
184               Yemen       1691     483        833     375         10
185              Zambia       4552     140       2815    1597         71
186            Zimbabwe       2704      36        542    2126        192

     New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0            10             18                3.50                  69.49
1             6             63                2.95                  56.25
2             8            749                4.16                  67.34
3             0              0                5.73                  88.53
4             1              0                4.32                  25.47
..          ...            ...                 ...                    ...
182           2              0                0.73                  35.33
183           0              0               10.00                  80.00
184           4             36               28.56                  49.26
185           1            465                3.08                  61.84
186           2             24                1.33                  20.04

     Deaths / 100 Recovered  Confirmed last week  1 week change  \
0                      5.04                35526            737
1                      5.25                 4171            709
2                      6.17                23691           4282
3                      6.48                  884             23
4                     16.94                  749            201
..                      ...                  ...            ...
182                    2.08                 8916           1705
183                   12.50                   10              0
184                   57.98                 1619             72
185                    4.97                 3326           1226
186                    6.64                 1713            991

     1 week % increase             WHO Region
0                 2.07  Eastern Mediterranean
1                17.00                 Europe
2                18.07                 Africa
3                 2.60                 Europe
4                26.84                 Africa
..                 ...                    ...
182              19.12  Eastern Mediterranean
183               0.00                 Africa
184               4.45  Eastern Mediterranean
185              36.86                 Africa
186              57.85                 Africa

[187 rows x 15 columns]

In [ ]:
print(Dataframe.head())

  Country/Region  Confirmed  Deaths  Recovered  Active  New cases  New deaths  \
0    Afghanistan      36263    1269      25198    9796        106          10
1        Albania       4880     144       2745    1991        117           6
2        Algeria      27973    1163      18837    7973        616           8
3        Andorra        907      52        803      52         10           0
4         Angola        950      41        242     667         18           1

   New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0             18                3.50                  69.49
1             63                2.95                  56.25
2            749                4.16                  67.34
3              0                5.73                  88.53
4              0                4.32                  25.47

   Deaths / 100 Recovered  Confirmed last week  1 week change  \
0                    5.04                35526            737
1                    5.25                 4171            709
2                    6.17                23691           4282
3                    6.48                  884             23
4                   16.94                  749            201

   1 week % increase             WHO Region
0               2.07  Eastern Mediterranean
1              17.00                 Europe
2              18.07                 Africa
3               2.60                 Europe
4              26.84                 Africa

In [ ]:
print(len(Dataframe.columns)) # Checks the number of columns in Dataframe.

15

In [ ]:
print(len(Dataframe)) # Checks the numbers of rows in dataframe.

187

In [ ]:
print(Dataframe.ndim)

2

In [ ]:
print(Dataframe.shape)

(187, 15)

In [ ]:
import pandas as pd

dataFrame = pd.read_csv("/content/day_wise.csv")
print(dataFrame)

           Date  Confirmed  Deaths  Recovered   Active  New cases  New deaths  \
0    2020-01-22        555      17         28      510          0           0
1    2020-01-23        654      18         30      606         99           1
2    2020-01-24        941      26         36      879        287           8
3    2020-01-25       1434      42         39     1353        493          16
4    2020-01-26       2118      56         52     2010        684          14
..          ...        ...     ...        ...      ...        ...         ...
183  2020-07-23   15510481  633506    8710969  6166006     282756        9966
184  2020-07-24   15791645  639650    8939705  6212290     281164        6144
185  2020-07-25   16047190  644517    9158743  6243930     255545        4867
186  2020-07-26   16251796  648621    9293464  6309711     204606        4104
187  2020-07-27   16480485  654036    9468087  6358362     228693        5415

     New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0                0                3.06                   5.05
1                2                2.75                   4.59
2                6                2.76                   3.83
3                3                2.93                   2.72
4               13                2.64                   2.46
..             ...                 ...                    ...
183         169714                4.08                  56.16
184         228736                4.05                  56.61
185         219038                4.02                  57.07
186         134721                3.99                  57.18
187         174623                3.97                  57.45

     Deaths / 100 Recovered  No. of countries
0                     60.71                 6
1                     60.00                 8
2                     72.22                 9
3                    107.69                11
4                    107.69                13
..                      ...               ...
183                    7.27               187
184                    7.16               187
185                    7.04               187
186                    6.98               187
187                    6.91               187

[188 rows x 12 columns]

In [ ]:
print(dataFrame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    188 non-null    object
 1   Confirmed               188 non-null    int64
 2   Deaths                  188 non-null    int64
 3   Recovered               188 non-null    int64
 4   Active                  188 non-null    int64
 5   New cases               188 non-null    int64
 6   New deaths              188 non-null    int64
 7   New recovered           188 non-null    int64
 8   Deaths / 100 Cases      188 non-null    float64
 9   Recovered / 100 Cases   188 non-null    float64
 10  Deaths / 100 Recovered  188 non-null    float64
 11  No. of countries        188 non-null    int64
dtypes: float64(3), int64(8), object(1)
memory usage: 17.8+ KB
None

In [ ]:
print(dataFrame.describe()) # For statistical analysis.

          Confirmed         Deaths     Recovered        Active      New cases  \
count  1.880000e+02     188.000000  1.880000e+02  1.880000e+02     188.000000
mean   4.406960e+06  230770.760638  2.066001e+06  2.110188e+06   87771.021277
std    4.757988e+06  217929.094183  2.627976e+06  1.969670e+06   75295.293255
min    5.550000e+02      17.000000  2.800000e+01  5.100000e+02       0.000000
25%    1.121910e+05    3935.000000  6.044125e+04  5.864175e+04    5568.500000
50%    2.848733e+06  204190.000000  7.847840e+05  1.859759e+06   81114.000000
75%    7.422046e+06  418634.500000  3.416396e+06  3.587015e+06  131502.500000
max    1.648048e+07  654036.000000  9.468087e+06  6.358362e+06  282756.000000

        New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
count   188.000000     188.000000          188.000000             188.000000
mean   3478.824468   50362.015957            4.860638              34.343936
std    2537.735652   56090.892479            1.579541              16.206159
min       0.000000       0.000000            2.040000               1.710000
25%     250.750000    2488.250000            3.510000              22.785000
50%    4116.000000   30991.500000            4.850000              35.680000
75%    5346.000000   79706.250000            6.297500              48.945000
max    9966.000000  284394.000000            7.180000              57.450000

       Deaths / 100 Recovered  No. of countries
count              188.000000        188.000000
mean                22.104521        144.351064
std                 22.568307         65.175979
min                  6.260000          6.000000
25%                  9.650000        101.250000
50%                 15.380000        184.000000
75%                 25.342500        187.000000
max                134.430000        187.000000

In [7]:
import pandas as pd
dF = pd.read_csv("/content/full_grouped.csv")
print(dF)

             Date      Country/Region  Confirmed  Deaths  Recovered  Active  \
0      2020-01-22         Afghanistan          0       0          0       0
1      2020-01-22             Albania          0       0          0       0
2      2020-01-22             Algeria          0       0          0       0
3      2020-01-22             Andorra          0       0          0       0
4      2020-01-22              Angola          0       0          0       0
...           ...                 ...        ...     ...        ...     ...
35151  2020-07-27  West Bank and Gaza      10621      78       3752    6791
35152  2020-07-27      Western Sahara         10       1          8       1
35153  2020-07-27               Yemen       1691     483        833     375
35154  2020-07-27              Zambia       4552     140       2815    1597
35155  2020-07-27            Zimbabwe       2704      36        542    2126

       New cases  New deaths  New recovered             WHO Region
0              0           0              0  Eastern Mediterranean
1              0           0              0                 Europe
2              0           0              0                 Africa
3              0           0              0                 Europe
4              0           0              0                 Africa
...          ...         ...            ...                    ...
35151        152           2              0  Eastern Mediterranean
35152          0           0              0                 Africa
35153         10           4             36  Eastern Mediterranean
35154         71           1            465                 Africa
35155        192           2             24                 Africa

[35156 rows x 10 columns]

In [8]:
print(dF.isnull())

        Date  Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
0      False           False      False   False      False   False      False
1      False           False      False   False      False   False      False
2      False           False      False   False      False   False      False
3      False           False      False   False      False   False      False
4      False           False      False   False      False   False      False
...      ...             ...        ...     ...        ...     ...        ...
35151  False           False      False   False      False   False      False
35152  False           False      False   False      False   False      False
35153  False           False      False   False      False   False      False
35154  False           False      False   False      False   False      False
35155  False           False      False   False      False   False      False

       New deaths  New recovered  WHO Region
0           False          False       False
1           False          False       False
2           False          False       False
3           False          False       False
4           False          False       False
...           ...            ...         ...
35151       False          False       False
35152       False          False       False
35153       False          False       False
35154       False          False       False
35155       False          False       False

[35156 rows x 10 columns]

In [9]:
print(dF.isnull().sum())

Date              0
Country/Region    0
Confirmed         0
Deaths            0
Recovered         0
Active            0
New cases         0
New deaths        0
New recovered     0
WHO Region        0
dtype: int64