<a href="https://colab.research.google.com/github/MohitBhatt7/Python-3./blob/main/PythonTuts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name = "Mohit bhatt"
print(Name)

Mohit bhatt

In [ ]:
Age = 22
isStudent = True
print(f"Hey there, My name is {Name} and i am {Age} years old, also I am a B.tech student which is {isStudent}.")

Hey there, My name is Mohit bhatt and i am 22 years old, also I am a B.tech student which is True.

In [ ]:
Price = 12
print(Price)

12

# Numeric Data Types

In [ ]:
Price = 100
print(Price)
print(type(Price)) # To check data type.

100
<class 'int'>

In [ ]:
price = 123.12
print(price)
print(type(price)) # To check data type.

123.12
<class 'float'>

In [ ]:
Complex = 2 + 4j
print(Complex)
print(type(Complex)) # To check datatype.
print(Complex.real) # To print real part of complex number.
print(Complex.imag)# To print imaginary part of complex number.

(2+4j)
<class 'complex'>
2.0
4.0

In [ ]:
isvalid = True # Boolean.
print(5 > 3)

True

#Sequence Type

In [ ]:
# List Data Type.

Fruit = ["apples", "Banana", "Cherry"]
print(Fruit)
print(Fruit[0])
print(Fruit[1])
print(Fruit[2])

['apples', 'Banana', 'Cherry']
apples
Banana
Cherry

In [ ]:
# Tuple Data Type.

Name = ("Alice", "Trevor", "Terrence Tao")
print(Name)


# Tuple operation.

a = (1,2,3)

print(a * 3) # Returns Three types in sequence making tuple.

b = (4,5,6)
print(a + b) # Tuple concatenation.

('Alice', 'Trevor', 'Terrence Tao')
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 4, 5, 6)

# Mapping Data Type/ Dictionary Data Type.

In [ ]:
person = {
    "Name": "Terrence Tao",
    "Age": 20
}

print(person["Name"])

Terrence Tao

# Set Data Types.

In [ ]:
# Mutable

Feelings = {"Angry", "Sad","Happy"}
Feelings.add("Emotional")
print(Feelings)

# Immutable/Frozen Set.

Colours = frozenset(["Yellow", "Red", "Green"])
print(Colours)

{'Happy', 'Angry', 'Emotional', 'Sad'}
frozenset({'Red', 'Green', 'Yellow'})

# Operators(Small project based tut.)

In [ ]:
A = int(input("Enter the number A = "))
B = int(input("Enter the number B = "))

Operator = str(input("Enter the operation you want to perform:- "))

if(Operator == '+'):
  print(f"The sum of the two numbers {A} and {B} is:- {A + B}")

elif(Operator == '-'):
  print(f"The difference of the two numbers {A} and {B} is:- {A - B}")

elif(Operator == '*'):
  print(f"The product of the two numbers {A} and {B} is:- {A * B}")

elif(Operator == '/'):
  print(f"The division of the two numbers {A} by {B} is:- {A / B}")

elif(Operator == '//'):
  print(f"The floor division of the two numbers {A} by {B} is:- {A // B}")

elif(Operator == '%'):
  print(f"The modulus of the two numbers {A} and {B} is:- {A % B}")

elif(Operator == '**'):
  print(f"The exponentiiation of the two numbers {A} and {B} is:- {A ** B}")

else:
  print("Please enter valid operator.")

Enter the number A = 2
Enter the number B = 2
Enter the operation you want to perform:- +
The sum of the two numbers 2 and 2 is:- 4

# Nested if-else statement.

In [ ]:
Age = int(input("Enter the age:- "))
isCitizen = True

if(Age >= 18):
  if(isCitizen):
    print("You are eligible to vote.")

  else:
    print("You must be the citizen to vote")

else:
  print("You are young to vote, Not eligible.")

Enter the age:- 20
You are eligible to vote.

# Loops

In [ ]:
# Iterating over the lists.
Fruits = {"Apple", "Banana", "Cherry", "Avogadro", "Mango"}
for x in Fruits:
  print(x)

Apple
Cherry
Mango
Banana
Avogadro
0
1
2

In [ ]:
# Iterating over the dictionary.
Person = {"Name": "Terrence", "Age": 19}
for key,value in Person.items():
  print(key, value)

Name Terrence
Age 19

In [1]:
Disease = {"Cholera", "Typhoid", "Malaria", "Dengue"}
for index , disease in enumerate(Disease):
  print(index, disease)

0 Malaria
1 Dengue
2 Typhoid
3 Cholera

# While Loop

In [4]:
i = 0
while(i <= 5):
  print(i)
  i += 1

0
1
2
3
4
5