<a href="https://colab.research.google.com/github/MohitBhatt7/Python-3./blob/main/PythonTuts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python tuts for AI/ML.

In [ ]:
Name = "Mohit bhatt"
print(Name)

Mohit bhatt

In [ ]:
Age = 22
isStudent = True
print(f"Hey there, My name is {Name} and i am {Age} years old, also I am a B.tech student which is {isStudent}.")

Hey there, My name is Mohit bhatt and i am 22 years old, also I am a B.tech student which is True.

In [ ]:
Price = 12
print(Price)

12

# Numeric Data Types

In [ ]:
Price = 100
print(Price)
print(type(Price)) # To check data type.

100
<class 'int'>

In [ ]:
price = 123.12
print(price)
print(type(price)) # To check data type.

123.12
<class 'float'>

In [ ]:
Complex = 2 + 4j
print(Complex)
print(type(Complex)) # To check datatype.
print(Complex.real) # To print real part of complex number.
print(Complex.imag)# To print imaginary part of complex number.

(2+4j)
<class 'complex'>
2.0
4.0

In [ ]:
isvalid = True # Boolean.
print(5 > 3)

True

#Sequence Type

In [ ]:
# List Data Type.

Fruit = ["apples", "Banana", "Cherry"]
print(Fruit)
print(Fruit[0])
print(Fruit[1])
print(Fruit[2])

['apples', 'Banana', 'Cherry']
apples
Banana
Cherry

In [ ]:
# Tuple Data Type.

Name = ("Alice", "Trevor", "Terrence Tao")
print(Name)


# Tuple operation.

a = (1,2,3)

print(a * 3) # Returns Three types in sequence making tuple.

b = (4,5,6)
print(a + b) # Tuple concatenation.

('Alice', 'Trevor', 'Terrence Tao')
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 4, 5, 6)

# Mapping Data Type/ Dictionary Data Type.

In [ ]:
person = {
    "Name": "Terrence Tao",
    "Age": 20
}

print(person["Name"])

Terrence Tao

# Set Data Types.

In [ ]:
# Mutable

Feelings = {"Angry", "Sad","Happy"}
Feelings.add("Emotional")
print(Feelings)

# Immutable/Frozen Set.

Colours = frozenset(["Yellow", "Red", "Green"])
print(Colours)

{'Happy', 'Angry', 'Emotional', 'Sad'}
frozenset({'Red', 'Green', 'Yellow'})

# Operators(Small project based tut.)

In [ ]:
A = int(input("Enter the number A = "))
B = int(input("Enter the number B = "))

Operator = str(input("Enter the operation you want to perform:- "))

if(Operator == '+'):
  print(f"The sum of the two numbers {A} and {B} is:- {A + B}")

elif(Operator == '-'):
  print(f"The difference of the two numbers {A} and {B} is:- {A - B}")

elif(Operator == '*'):
  print(f"The product of the two numbers {A} and {B} is:- {A * B}")

elif(Operator == '/'):
  print(f"The division of the two numbers {A} by {B} is:- {A / B}")

elif(Operator == '//'):
  print(f"The floor division of the two numbers {A} by {B} is:- {A // B}")

elif(Operator == '%'):
  print(f"The modulus of the two numbers {A} and {B} is:- {A % B}")

elif(Operator == '**'):
  print(f"The exponentiiation of the two numbers {A} and {B} is:- {A ** B}")

else:
  print("Please enter valid operator.")

Enter the number A = 2
Enter the number B = 2
Enter the operation you want to perform:- +
The sum of the two numbers 2 and 2 is:- 4

# Nested if-else statement.

In [ ]:
Age = int(input("Enter the age:- "))
isCitizen = True

if(Age >= 18):
  if(isCitizen):
    print("You are eligible to vote.")

  else:
    print("You must be the citizen to vote")

else:
  print("You are young to vote, Not eligible.")

Enter the age:- 20
You are eligible to vote.

# Loops

In [ ]:
# Iterating over the lists.
Fruits = {"Apple", "Banana", "Cherry", "Avogadro", "Mango"}
for x in Fruits:
  print(x)

Apple
Cherry
Mango
Banana
Avogadro
0
1
2

In [ ]:
# Iterating over the dictionary.
Person = {"Name": "Terrence", "Age": 19}
for key,value in Person.items():
  print(key, value)

Name Terrence
Age 19

In [ ]:
Disease = {"Cholera", "Typhoid", "Malaria", "Dengue"}
for index , disease in enumerate(Disease):
  print(index, disease)

0 Malaria
1 Dengue
2 Typhoid
3 Cholera

# While Loop

In [ ]:
i = 0
while(i <= 5):
  print(i)
  i += 1

0
1
2
3
4
5

# Common loop control statements.

In [ ]:
for i in range(10):
  if(i ==5):
    break
  print(i)

print("Next")

for i in range(8):
  if(i == 4):
    continue

  print(i)

0
1
2
3
4
Next
0
1
2
3
5
6
7

# Nested Loop conrol statements.

In [ ]:
for i in range(5):
  for j in range(4):
    print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3

# Else with Loops

In [ ]:
for i in range(15):
  print(i)

else:
  print("Loop completed wthout break.")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Loop completed wthout break.

In [ ]:
for x in range(8):
  if(x == 3):
    print(x)

  else:
    print("This will not print.")

This will not print.
This will not print.
This will not print.
3
This will not print.
This will not print.
This will not print.
This will not print.

# Functions

In [ ]:
def add(a, b):
  return a + b

sum = add(1,2)
print(sum)

3

In [ ]:
def calculator(a, b):
  if(operation == "+"):
    return a + B

  elif(operation == "-"):
    return a - b

  elif(operation == "*"):
    return a * b

  elif(operation == "/"):
    return a/B

  elif(operation == "//"):
    return a // b

  elif(operation == "%"):
    return a % b

  else:
    print("Please enter the valid operational character to be performed.")
operation  = str(input("Enter the operation:- "))
a = int(input("Enter the value of a:- "))
b = int(input("Enter the value of b:- "))
calculator(a,b)

Enter the operation:- *
Enter the value of a:- 5
Enter the value of b:- 20

100

In [ ]:
import random

def numberguessing():
  number = random.randint(1, 10)
  guess = int(input("Enter the guess:- "))

  if(guess < 1 and guess > 10):
    print("Out of range")

  elif(guess == number):
    print("You predicted the right value.")

  else:
    print("Invalid input.")

numberguessing()

Enter the guess:- 1
Invalid input.

# Number guessing using loops.

In [ ]:
import random

def number_guessing():
    number = random.randint(1, 10)

    print("Guess a number between 1 and 10.")

    for attempts in range(1, 100):  # You can adjust max attempts if needed
        guess = int(input(f"Attempt {attempts}: "))

        if (guess < 1 or guess > 10):
            print("Out of range. Try a number between 1 and 10.")
        elif (guess == number):
            print(f"Correct! You guessed the number in {attempts} attempt(s).")
            break
        else:
            print("Wrong guess. Try again.")

number_guessing()

Guess a number between 1 and 10.
Attempt 1: 1
Wrong guess. Try again.
Attempt 2: 2
Wrong guess. Try again.
Attempt 3: 3
Wrong guess. Try again.
Attempt 4: 4
Wrong guess. Try again.
Attempt 5: 5
Wrong guess. Try again.
Attempt 6: 6
Correct! You guessed the number in 6 attempt(s).

# Dictionary in python.

In [ ]:
# Creating a dictionary.
student = {
    "Name": "Alice",
    "Age": 21,
    "Grade": "A+",
    "Faculty": "B.Tech"
}
print(student["Name"])
print(student["Age"])
print(student["Grade"])
print(student["Faculty"])


print(student.get("Name"))
print(student.get("Age"))
print(student.get("Grade"))
print(student.get("Faculty"))


print(student.get("School_Name"))

""" The methods for accessing the elements student[] will raise error if the keys are missing in the dictionary and
the method student.get() will not raise error but returns none."""

Alice
21
A+
B.Tech
Alice
21
A+
B.Tech
None

In [ ]:
Diseases = {
    "name": "Tuberculosis",
    "cause": "Mycobacterium tuberculosis",
    "TransferFactor": "Droplets"
}

# Adding up the key.
Diseases["Test1"]="Mantoux Test"
print(Diseases)
Diseases["Test2"]= "IGRA/TST"
print(Diseases)

{'name': 'Tuberculosis', 'cause': 'Mycobacterium tuberculosis', 'TransferFactor': 'Droplets', 'Test1': 'Mantoux Test'}
{'name': 'Tuberculosis', 'cause': 'Mycobacterium tuberculosis', 'TransferFactor': 'Droplets', 'Test1': 'Mantoux Test', 'Test2': 'IGRA/TST'}

In [ ]:
disease = {
    "Name": "Typhoid",
    "Cause": "Salmonella typhi",
    "TransferFactor": "contaminated water"

}

del disease["TransferFactor"]
print(disease)

{'Name': 'Typhoid', 'Cause': 'Salmonella typhi'}

In [ ]:
Pooped = disease.popitem()
print(Pooped)

('Cause', 'Salmonella typhi')

# List Comprehensions in python.

In [ ]:
Squares = [x ** 2 for x in range(10)]
print(Squares)

oddSquares = [a ** 2 for a in range(10) if a % 2 == 1]
print(oddSquares)

evenSquares = [b ** 2 for b in range(10) if b % 2 == 0]
print(evenSquares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 9, 25, 49, 81]
[0, 4, 16, 36, 64]

# Using functions in list comprehension.

In [ ]:
def Cube(x):
  return x ** 3

Cubes = [Cube(x) for x in range(10) if x % 2 == 1]
print(Cubes)

[1, 27, 125, 343, 729]

# OOP(Object Oriented Programming)

In [ ]:
class Car():
  def Toyota(self):
    print("Model:- Land-crushier")


C1 = Car()
C1.Toyota()

Model:- Land-crushier

In [ ]:
class Student():
  def name(self, name):
    self.name = name
    print(f"Hey there my name is:- {self.name}")



  def set_age(self, age):
    self.age = age
    print(f"Hey there i am {self.age} yrs old.")

S1 = Student()
S1.name("Alice")
S1.set_age(11)

Hey there my name is:- Alice
Hey there i am 11 yrs old.

# Dunder method/ Constructors.