<a href="https://colab.research.google.com/github/MohitBhatt7/Python-3./blob/main/PythonTuts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name = "Mohit bhatt"
print(Name)

Mohit bhatt

In [ ]:
Age = 22
isStudent = True
print(f"Hey there, My name is {Name} and i am {Age} years old, also I am a B.tech student which is {isStudent}.")

Hey there, My name is Mohit bhatt and i am 22 years old, also I am a B.tech student which is True.

In [ ]:
Price = 12
print(Price)

12

# Numeric Data Types

In [1]:
Price = 100
print(Price)
print(type(Price)) # To check data type.

100
<class 'int'>

In [4]:
price = 123.12
print(price)
print(type(price)) # To check data type.

123.12
<class 'float'>

In [8]:
Complex = 2 + 4j
print(Complex)
print(type(Complex)) # To check datatype.
print(Complex.real) # To print real part of complex number.
print(Complex.imag)# To print imaginary part of complex number.

(2+4j)
<class 'complex'>
2.0
4.0

In [9]:
isvalid = True # Boolean.
print(5 > 3)

True

#Sequence Type

In [11]:
# List Data Type.

Fruit = ["apples", "Banana", "Cherry"]
print(Fruit)
print(Fruit[0])
print(Fruit[1])
print(Fruit[2])

['apples', 'Banana', 'Cherry']
apples
Banana
Cherry

In [15]:
# Tuple Data Type.

Name = ("Alice", "Trevor", "Terrence Tao")
print(Name)


# Tuple operation.

a = (1,2,3)

print(a * 3) # Returns Three types in sequence making tuple.

b = (4,5,6)
print(a + b) # Tuple concatenation.

('Alice', 'Trevor', 'Terrence Tao')
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 4, 5, 6)

# Mapping Data Type/ Dictionary Data Type.

In [20]:
person = {
    "Name": "Terrence Tao",
    "Age": 20
}

print(person["Name"])

Terrence Tao

# Set Data Types.

In [22]:
# Mutable

Feelings = {"Angry", "Sad","Happy"}
Feelings.add("Emotional")
print(Feelings)

# Immutable/Frozen Set.

Colours = frozenset(["Yellow", "Red", "Green"])
print(Colours)

{'Happy', 'Angry', 'Emotional', 'Sad'}
frozenset({'Red', 'Green', 'Yellow'})